/*--cover up mac , mac-book---*/

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .mainVideo {
    /* width: px !important; */
  }
  .quickActionChild {
    height: 70px !important;
  }

  .checkBoxActions {
    size: small !important;
  }
  .actionComponentText {
    font-size: 10px !important;
  }
  .audienceEngagementHeading {
    font-size: 20px !important;
  }
  .graphLine {
    height: 4rem !important;
  }
  .adminChatMainScreen {
    max-height: 300px !important;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-size: 17px !important;
  }
  .ant-tabs-tab .ant-tabs-tab-btn {
    font-size: 15px !important;
  }
  .settingsIcon {
    font-size: 20px !important  ;
  }
  .mySwiper2 {
    height: 16rem !important;
  }
  .askTheAudienceText {
    font-size: small !important;
  }
  .viewCount {
    font-size: small !important;
  }
  .mainChatCont {
    height: 630px !important;
  }
  .attendeesHeight {
    height: 630px !important;
  }
  .checkBoxActions {
    height: 16px !important;
    width: 10px !important;
  }
  .checkBoxActions .ant-switch-handle {
    height: 12px !important;
    width: 12px !important;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .mainVideo {
    /* width: 690px !important; */
  }
}
@media only screen and (max-width: 600px) {
  .mainVideo {
    object-fit: contain !important;
  }
  .viewerCount {
    font-size: 8px !important;
  }
  .liveText {
    font-size: 8px !important;
  }
  .liveTime {
    font-size: 8px !important;
  }
  .liveRedDot {
    width: 10px !important;
    height: 10px !important;
  }
  .liveContainer {
    width: 80px !important;
    height: 15px !important;
  }
  .settingsIcon {
    font-size: 10px !important;
  }
  .expandIcon {
    font-size: 10px !important;
  }
  .iconContainer {
    width: 50px !important;
  }
  .ImageSwiper {
    margin-top: 10px !important;
  }
  .userView {
    height: 100px !important;
    align-self: center !important;
  }
}
.adminChat
  > .ant-collapse
  > .ant-collapse-item.ant-collapse-no-arrow
  > .ant-collapse-header {
}
