.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  display: flex !important;
  /* position: relative; */
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.5715;
  cursor: pointer;
  transition: all 0.3s, visibility 0s;
  flex-direction: row-reverse !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  margin-right: 0px !important;
  margin-left: 12px !important;
}
