#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

body {
  background: #000;
  color: #000;
}

.mySwiper2 {
  width: 100%;
  height: 75%;
  border-radius: 50px !important;
}
.swiper-container {
  margin-left: 0px !important;
}
.mySwiper {
  width: 130%;
  height: 30%;
}

.mySwiper .swiper-slide {
  width: 25% !important;
  height: 105px !important;
  opacity: 0.4;
  border: 5px solid #7de6d0;
  box-sizing: border-box;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 10px;
}
.quickActionsWrapper {
  margin-top: 30px !important;
  width: 100%;
  height: 40%;
  background: #4e5054;
  border-radius: 15px;
  padding: 10px;
  padding-inline-start: 20px;
}
.quickActionContainer {
  padding: 10 10px;
  height: 70%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.quickActionChild {
  height: 100px;

  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
  background: #74acec;
  border-radius: 15px;
}
.messageUi {
  background: #3b3c40;
  border-radius: 15px 30px 30px 5px;
  width: fit-content;
  padding: 10px;
  margin-bottom: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #ffffff;
}
.messageUiMainChat {
  width: fit-content;
  padding: 10px;
  margin-bottom: 10px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  background-color: #7de6d0;
  color: #000000;
  border-radius: 30px 15px 5px 30px;
}
.messageUiSender {
  -webkit-border-top-left-radius: 114px;
  -webkit-border-top-right-radius: 123px;
  -webkit-border-bottom-right-radius: 123px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 114px;
  -moz-border-radius-topright: 123px;
  -moz-border-radius-bottomright: 123px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 114px;
  border-top-right-radius: 123px;
  border-bottom-right-radius: 123px;
  border-bottom-left-radius: 10px;
  width: fit-content;
  padding: 5px;
  margin-bottom: 10px;
  color: #fff;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 0 !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  align-self: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #fff !important;
}
.ant-input {
  background-color: #3b3c40 !important;
}
.ant-input-affix-wrapper {
  background-color: #3b3c40 !important;
}
.ant-input-affix-wrapper > input.ant-input {
  color: #fff;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
  text-shadow: 0 0 0.25px currentColor !important;
  font-size: 20px !important;
  font-weight: bold !important;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
  flex: unset !important;
  width: 100% !important;
}

.site-custom-tab-bar {
  z-index: 1 !important;
  background: #fff !important;
}
.modalButtonDesign {
  width: 194px !important;
  height: 32px !important;
  border-radius: 10px !important;
  margin-bottom: 10px !important;
  background: #dd4b4e !important;
}
.ant-popover-inner {
  background-color: #63666b !important;
  padding-top: 5px !important;
}
.ant-popover-title {
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 17px !important;
  /* identical to box height */
  border-bottom: 0px !important;
  color: #ffffff !important;
}
.ant-popover-arrow-content {
  background-color: #63666b !important;
}
.headerComponentText {
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 13px !important;
  line-height: 22px !important;
  color: #ffffff !important;
  margin-left: 10px;
}
.audienceEngagementHeading {
  font-family: Poppins !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  color: #fff;
  width: 90%;
}
.actionComponentText {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  align-self: flex-start;
  color: #ffffff;
}
.adminChat > .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  text-align: center !important;
  width: 100% !important;
  height: 58px !important;

  background: #4e5054 !important;
  border-radius: 15px !important;
}

.displayNone
  > .adminChat
  > .ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header {
  display: none !important;
}
.ant-tabs-tab .ant-tabs-tab-btn {
  font-family: Poppins !important;
  font-style: normal !important;
  font-weight: 200 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  /* identical to box height */

  color: #ffffff;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
  text-shadow: 0 0 0.25px currentColor !important;
  cursor: pointer !important;

  font-family: Poppins !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 36px !important;
  /* identical to box height */
}
.ant-tabs-ink-bar {
  display: none !important;
}
.ant-tabs-top > .ant-tabs-nav::before {
  border-bottom: none !important;
}
