#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: #000;
  color: #000;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.quickActionsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 10 0px;
  margin: 10px 0px;
}
.quickActionChild {
  /* flex: 1 0 25%; explanation below */
  margin-right: 10px;
  margin-bottom: 10px;
  /* height: 100px; */
  /* background-color: blue; */
  height: 120px;
  width: 160px;
  background-color: #74acec;
  display: flex;
  border: 5px solid #568997;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-start; */
  padding: 5px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.quickActionContainer {
  padding: 10 0px;
  height: 250px;
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.messageUi {
  -webkit-border-top-left-radius: 123px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 123px;
  -webkit-border-bottom-right-radius: 114px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 123px;
  -moz-border-radius-bottomright: 114px;
  border-top-left-radius: 10px;
  border-top-right-radius: 123px;
  border-bottom-right-radius: 114px;
  background-color: red;
  width: fit-content;
  padding: 5px;
  margin-bottom: 10px;
}
