.site-tag-plus {
  background: #fff;
  border-style: dashed;
}
.edit-tag {
  user-select: none;
}
.tagInput {
  width: 8px;
  margin-right: 8px;
  vertical-align: top;
  background-color: yellow;
}

.value-checkbox > .ant-checkbox .ant-checkbox-inner {
  background-color: transparent;
  border-color: #fff;
}
